{% load static %}
<!doctype html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <title>Tenders</title>
</head>
<body>


{% block content %}
  <h1>TENDERS</h1>
  <p>Hello, {{name}}</p>
  <p>Список страниц</p>
  <ul>
    <li>/tenders/?company=...</li>
    <li>/tenders/tender_create/?company=... law=... price=...</li>
    <li>/tenders/tender_list/</li>
  </ul>
  <img src="{% static 'img/test.jpg' %}" alt="Невидимый мем">
{% endblock %}
</body>
</html>